.WalletList{
    background-color: #EEEEEE;
    padding:0.1rem 0;
    border-radius: 0.4rem;
    margin-top: 3rem;
    box-shadow: 0px 0px 26px 0px rgba(0,0,0,0.75);
}

.addCoin{
    width: 100%;
    display:flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin-bottom:0.5rem
}
.addCoinButton{
    margin-top:1rem;
    width: 6rem;
    height: 3.4rem;
    border-radius: 4px;
    padding: 0.5rem;
    border:none;
    font-size: 54px;
    line-height: 30px;

    border:1px solid #CDD6EC;
}
.addCoinButton:hover{
    transition:0.2s;
    background: #CDD6EC;
    color: #eee;
}
.Select{
    border: 1px solid #CDD6EC;
    background: none;
    height: 3.3rem;
    border-radius: 4px;
    padding: 0 1rem;
    font-size: 24px;
}
.divisor{
    width: 100%;
    border-top:2px solid #41445C90;
    margin:3rem 3rem 1rem;
    border-radius: 5px;

}